
.card-container {
  max-width: 500px;
  margin: auto;
}

.card-header {
  background-color:purple !important;
  color: white !important;
  text-align: center;
}

.card {
  border-radius: 10px;
}

.card-body {
  padding: 2rem;
}

.form-label {
  font-weight: bold;
}

.btn-success {
  padding: 8px;
  font-size: 1.2rem;
  font-weight: bold;
  width: 100px;
}

body {
  background-color: #f8f9fa;
}
:root{
  --purple:#64437C
}
.navbar.bg-purple {
  background-color:purple  ;
}

.table {
  background-color:purple;
  color: white;
}



.table tbody tr:hover {
  background-color: purple;
}
.border{
  height: 5px;
  background-color: purple !important ;
  margin-bottom: 10px;
 
}